@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  color: #ffffff;
  background-color: #0f172a;
  scroll-behavior: smooth;
}

.waka-card {
  min-height: 370px;
  max-height: 370px;
  min-width: 320px;
  max-width: 320px;
}

.project-card {
  min-height: 170px;
  min-width: 320px;
  max-width: 320px;
}

.project-cards-container {
  min-width: 1000px;
  width: 1000px;
  max-width: 1000px;
}

.cards-max {
  min-width: 1000px !important;
  max-width: 1000px !important;
}
